<template>
    <div>
      <b-form class="form">
        <h3 class="title">
        Formulario
        </h3>
        <b-form-group
        label-for="name"
        label="Nombre:"
        :invalid-feedback="invalidFeedbackName"
        :state="stateName"
        :description="descriptionName">
          <b-form-input
          id="name"
          v-model="form.name"
          type="text"
          name="name"
          :state="stateName">
          </b-form-input>
        </b-form-group>
        <b-form-group
        label-for="age"
        label="Edad:"
        :invalid-feedback="invalidFeedbackAge"
        :valid-feedback="validFeedbackAge"
        :state="stateAge"
        :description="descriptionAge">
          <b-form-input
          id="age"
          v-model="form.age"
          type="number"
          name="age"
          min="0"
          :state="stateAge">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label-for="language"
          label="Lenguaje de programación favorito:"
          :state="stateLanguage"
          :description="descriptionLanguage">
          <b-form-select
          id="language"
          v-model="form.language"
          name="lang"
          :options="langs"
          :state="stateLanguage">
          </b-form-select>
        </b-form-group>
        <b-form-group>
          <b-button @click="crearUsuario" :disabled="!stateSubmit">Añadir</b-button>
        </b-form-group>
      </b-form>
      <b-table
      class="table"
      :items="items"
      :fields="fields">
      </b-table>
      <div>Número de filas: <b>{{items.length}}</b></div>
    </div>
</template>
<script>
export default {
  name: 'formulario',
  computed: {
    stateName() {
      let res = null;
      if (this.form.name.length >= 3) {
        res = true;
      } if (this.form.name.length > 0 && this.form.name.length < 3) {
        res = false;
      }
      return res;
    },
    stateAge() {
      let res = null;
      if (this.form.age > 8) {
        res = true;
      } if (this.form.age > 0 && this.form.age <= 8) {
        res = false;
      }
      return res;
    },
    stateLanguage() {
      return this.form.language != null;
    },
    stateSubmit() {
      return this.form.name.length >= 3 && this.form.age > 8 && this.form.language != null;
    },
    invalidFeedbackName() {
      if (this.form.name.length > 0 && this.form.name.length <= 3) {
        return 'Introduce al menos 3 caracteres.';
      }
      return '';
    },
    invalidFeedbackAge() {
      if (this.form.age >= 1 && this.form.age <= 8) {
        return 'Demasiado pequeño para saber programar.';
      }
      return '';
    },
    validFeedbackAge() {
      if (this.form.age >= 9 && this.form.age < 16) {
        const result = `¿Sabes programar con ${this.form.age} años? Bien hecho.`;
        return result;
      }
      return '';
    },
    descriptionName() {
      if (this.form.name.length >= 1) {
        return '';
      }
      return 'Por favor, introduce tu nombre.';
    },
    descriptionAge() {
      if (this.form.age > 0) {
        return '';
      }
      return 'Por favor, introduce tu edad.';
    },
    descriptionLanguage() {
      if (this.form.language != null) {
        return '';
      }
      return 'Por favor, elige tu lenguaje de programación favorito.';
    },
  },
  data() {
    return {
      form: { name: '', age: '', lang: null },
      langs: [{ text: 'Selecciona uno', value: null, disabled: false }, { text: 'Java', value: 'Java', disabled: false }, { text: 'Javascript', value: 'Javascript', disabled: false }, { text: 'Phyton', value: 'Phyton', disabled: false }, { text: 'PHP', value: 'PHP', disabled: true }],
      items: [],
      fields: [{ key: 'name', label: 'Nombre', sortable: true }, { key: 'age', label: 'Edad', sortable: false }, { key: 'language', label: 'Lenguaje favorito', sortable: true },
      ],
    };
  },
  methods: {
    crearUsuario() {
      this.items.push(this.form);
      this.form = { name: '', age: '', lang: null };
    },
  },
};
</script>
<style scoped>
    .title{
      margin-bottom: 20px;
    }
    .form{
      padding: 20px;
      width: 50%;
      display: inline-block;
      float:left;
    }
    .table{
      padding: 20px;
      width: 45%;
      margin-right: 20px;
      margin-top: 10px;
      float:left;
    }
    input,select {
      margin-left: 10px;
    }
</style>
