<template>
  <div style="margin-top:5%;">
      <h1>Tablas</h1>
      <button class="boton" @click="aniadirTablaFea">Añadir fila Tabla Fea</button>
      <b-button
        variant="outline-primary"
        @click="aniadirTablaBonita">
        Añadir fila Beautiful tabla
      </b-button>
      <tabla
        :datosParaTabla="datosTabla"
        @eliminarFilaTabla="eliminarFilaTabla">
      </tabla>
      <tablaBonita
        :datosParaTablaB="datosTablaB"
        :spiner="spiner"
        @eliminarFilaBonita="eliminarFilaBonita">
      </tablaBonita>
  </div>
</template>
<script>

// import { Z_DATA_ERROR } from 'zlib';
import tabla from '../components/Tabla.vue';
import tablaBonita from '../components/TablaBonita.vue';

export default {
  name: 'tablas',

  components: {
    tabla,
    tablaBonita,
  },

  data() {
    return {
      datosTabla: [
        { Edad: 40, Nombre: 'Agust', Apellidos: 'Hernandez' },
        { Edad: 21, Nombre: 'Alvaro', Apellidos: 'Mateos' },
        { Edad: 89, Nombre: 'Jorge', Apellidos: 'Wilson' },
        { Edad: 38, Nombre: 'Pedro', Apellidos: 'Carney' },
      ],
      datosTablaB: [
        { Edad: 40, Nombre: 'Agust', Apellidos: 'Hernandez' },
        { Edad: 21, Nombre: 'Alvaro', Apellidos: 'Mateos' },
        { Edad: 89, Nombre: 'Jorge', Apellidos: 'Wilson' },
        { Edad: 38, Nombre: 'Pedro', Apellidos: 'Carney' },
      ],
      spiner: false,
    };
  },

  created() {
  },
  methods: {
    aniadirTablaFea() {
      this.datosTabla.push({ Edad: 22, Nombre: 'Prueba', Apellidos: 'Curch' });
    },
    aniadirTablaBonita() {
      this.datosTablaB.push({ Edad: 22, Nombre: 'Prueba', Apellidos: 'Curch' });
    },
    eliminarFilaBonita() {
      this.spiner = true;
      // let self = this;
      this.$bvModal.msgBoxConfirm('Sure que desea eliminar el registro?')
        .then((value) => {
          // eslint-disable-next-line
          value ? this.confirmarEliminarFilaTablaBonita() : this.spiner = false;
        }).catch((err) => {
          // eslint-disable-next-line
          console.log(err);
        });
    },

    confirmarEliminarFilaTablaBonita() {
      this.spiner = false;
      this.datosTablaB.pop();
    },

    eliminarFilaTabla() {
      this.datosTabla.pop();
    },
  },
};
</script>

<style scoped>
.boton {
    margin: 10px;
}
</style>
