<template>
  <div>
    <line-chart :data="{'2017-05-13': 2, '2017-05-14': 5}"></line-chart>
  </div>
</template>

<script>
import Chartkick from 'vue-chartkick';
import Chart from 'chart.js';
</script>

<style>
</style>
