<template>
  <div style="height:100%; width:48%; float:right;margin-right:1%;">
    <!-- <div style="width:100%; height:70px;">
      <h2 style="float:right;">Tabla Beautiful</h2>
    </div> -->
    <div style="float:right; width:100%">
      <b-table :head-variant="'light'" :table-variant='"primary"' hover :items="datosParaTablaB">
      </b-table>
      <b-spinner v-if="spiner" label="Spinning"></b-spinner>
      <b-button
        variant="outline-danger"
        v-if="datosParaTablaB.length>4 && !spiner"
        @click="$emit('eliminarFilaBonita')">
        Eliminar fila
      </b-button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'tablaBonita',
  props: {
    datosParaTablaB: {
      type: Array,
      default: () => [],
    },
    spiner: {
      type: Boolean,
      default: false,
    },
  },

  methods: {

  },
};
</script>

<style scoped>


</style>
